<?xml version="1.0" encoding="utf-8"?>
 <configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="wikiRule0" stopProcessing="true">
          <match url="^/cdnjs/(.*)$" />
          <action type="Rewrite" url="cdnjs.php?a=/ajax/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  </configuration>
