databasebackup/**
old/**
*/old/**
desktop.ini
__init__.py
df.py
error.php
fixwikirefs.json
imp.sh
import.py
import_xml.py
*.txt
*.log
*.log_2
md.js
*.sql
*.zip
n.js
o.js
printe.py
*.ini
*.rar
*.7z
public_html/td/**
*/pywikibot.py
t.js
*.pyc
__pycache__/**
*/__pycache__/**
md_core/tw/twet_config.py
w.xml
نجاح الوصول للرابط واستبدال النص.js
*/.gitx/**
*.csv
md_core/mdpy/sql_test.py
*/back/**
pywikibot.py
public_html/Translation_Dashboard/**
nccommons/all_files.json
nccommons/ns_0_pages.json
py/sql_test.py
tw/twet_config.py
