**/old/**
*.7z
*.csv
*.ini
*.json
*.log
*.log_2
*.pyc
*.rar
*.sql
*.tmp.py
*.txt
*.zip
*/.gitx/**
*/__pycache__/**
*/back/**
*/old/**
*/pywikibot.py
.pylintrc
__pycache__/**
databasebackup/**
desktop.ini
df.py
error.php
fixwikirefs.json
imp.sh
import.py
import_xml.py
md.js
md_core-x/**
md_core/.vscode/settings.json
md_core/mdcount/old/allwords.py
md_core/mdpy/sql_test.py
md_core/mdpy/x.py
md_core/mdpy/‫md_core - رمز اختصار.lnk
md_core/nccommons/mv.json
md_core/niosh/*/*.json
md_core/one_time/WHOem/priorviews/**
md_core/one_time/prior/*.json
md_core/one_time/prior/*.json
md_core/one_time/prior/*/*.json
md_core/one_time/prior/.pylintrc
md_core/one_time/prior/en_old.py
md_core/one_time/prior/new_1.json
md_core/one_time/prior/old/**
md_core/one_time/prior/test.py
md_core/one_time/prior/test1.py
md_core/one_time/priorviews/lists/blames.json_1
md_core/tw/twet_config.py
n.js
nccommons/all_files.json
nccommons/ns_0_pages.json
o.js
old code/**
old/**
printe.py
public_html/Translation_Dashboard/**
public_html/adminer.php
public_html/gmail1/mail.py
public_html/gmail1/quickstart.py
public_html/gmail1/vendor/**
public_html/mdwiki3_old.php
public_html/td/**
public_html/td_test/**
py/sql_test.py
pywikibot.py
t.js
tw/twet_config.py
w.xml
نجاح الوصول للرابط واستبدال النص.js