databasebackup/**
old code/**
old/**
*/old/**
desktop.ini
__init__.py
df.py
error.php
fixwikirefs.json
imp.sh
import.py
import_xml.py
*.txt
*.log
*.log_2
md.js
*.sql
*.zip
n.js
o.js
printe.py
*.ini
*.rar
*.7z
public_html/td/**
*/pywikibot.py
t.js
*.pyc
__pycache__/**
*/__pycache__/**
md_core/tw/twet_config.py
w.xml
نجاح الوصول للرابط واستبدال النص.js
*/.gitx/**
*.csv
md_core/mdpy/sql_test.py
*/back/**
pywikibot.py
public_html/Translation_Dashboard/**
nccommons/all_files.json
nccommons/ns_0_pages.json
py/sql_test.py
tw/twet_config.py
md_core/mdpy/‫md_core - رمز اختصار.lnk
md_core/prior/*.json
md_core/prior/test.py
md_core/prior/test1.py
md_core/prior/new_1.json
md_core/.vscode/settings.json
md_core/nccommons/mv.json
md_core/niosh/*/*.json
md_core/prior/*/*.json
md_core/prior/*.json
public_html/adminer.php
md_core/mdcount/old/allwords.py
public_html/mdwiki3_old.php
**/old/**
md_core/prior/old/**
md_core/prior/en_old.py
md_core/prior/.pylintrc
.pylintrc
public_html/td_test/**
public_html/gmail1/vendor/**
public_html/gmail1/quickstart.py
public_html/gmail1/mail.py
md_core/priorviews/lists/blames.json_1
md_core/WHOem/priorviews/**
*.json