name: Black

on:
  push:
    branches:
      - update  # اسم الفرع الخاص بك

jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11.1

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black

    - name: Run Black
      run:  |
        black -t py38 -t py39 -t py310 -t py311 --line-length 450 --skip-string-normalization .
        
    - name: Commit and push changes
      run: |
        git config user.name "MrIbrahem"
        git config user.email "ibrahem.al-radaei@outlook.com"
        git add .
        git commit -m "Auto-format code with Black"
        git push